.button1 {
  float: left;
  color: pink;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}
.boxed {
  border: 12px solid pink;
  align-content: center;
}
.element {
  float: center;
  color: solid pink;
}
