button {
  height: 50px;
  width: 200px;
  margin: 12px 2px;
  position: relative;
  top: 50%;
  left: 50%;
}

body {
  font-family: "source sans pro", sans-serif;
  color: black;
  font-weight: 300;
  font-size: 24px;
  background-color: aquamarine;
}
input[type="text"] {
  position: relative;
  border: 2px solid black;
  font-size: 1em;
  padding: 16px 32px;
  margin: 4px 2px;
}
