.button {
  float: left;
  color: pink;
  padding: 20px;
  text-align: center;
  border-radius: 12px solid red;
}

body {
  font-family: "source sans pro", sans-serif;
  color: black;
  font-weight: 300;
  font-size: 24px;
}
input {
  position: relative;
  border: 2px solid red;
}
